@using OmniLine.ViewModel;
@model CreateContactVM

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label>ФИО</label>
        <input class="form-control" placeholder="ФИО">
        <span class="text-danger"></span>
    </div>
    

    <hr />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>