@using OmniLine.ViewModel;
@model CreateContactVM

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label>ФИО</label>
        <input asp-for="Contact.FIO" class="form-control" placeholder="ФИО">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Contact.Email" class="form-control" placeholder="Email">
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Статус</label>
        <select asp-for="Contact.CounterAgentId" class="form-control form-control-lg">
            @foreach (var item in Model.Agents)
            {
                <option value="@item.CounterAgentId">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Contact.CounterAgentId" class="text-danger"></span>
    </div>
    @if (true)
    {
        <div class="form-group">
            <label>Дата Создани</label>
            <input asp-for="Contact.DateCreate" class="form-control" placeholder="Email" readonly>
            <span class="text-danger"></span>
        </div>
    }

    <hr />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>