
@model IEnumerable<CounterAgent>

<div>
    <div style="margin-bottom:2px;" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a asp-action="Create" asp-controller="CounterAgent" class="btn btn-primary me-md-2" type="button">Добавить</a>
    </div>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название контрагента</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата изменения</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.CounterAgentId</th>
                    <td>@item.Name</td>
                    <td>@item.DateCreate</td>
                    <td>@item.DateEdit</td>
                    <td align="center">
                        <button type="button" class="btn btn-primary">Удалить</button>
                        <button type="button" class="btn btn-primary">Изменить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>